<div class="row">
  <h1>Hard & Soft Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [showUnits]="false"
    [title]="'HTML'"
    [titleFontSize]="'3em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#fce13a'"
    [innerStrokeColor]="'#fce13a'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="80"
  [radius]="100"
  [showUnits]="false"
  [title]="'CSS'"
  [titleFontSize]="'3em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#fce13a'"
  [innerStrokeColor]="'#fce13a'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="70"
  [radius]="100"
  [showUnits]="false"
  [title]="'Javascript'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#fce13a'"
  [innerStrokeColor]="'#fce13a'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="95"
  [radius]="100"
  [showUnits]="false"
  [title]="'Creatividad'"
  [titleFontSize]="'25px'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#fce13a'"
  [innerStrokeColor]="'#fce13a'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="100"
  [radius]="100"
  [showUnits]="false"
  [title]="'Colaboración'"
  [titleFontSize]="'25px'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#fce13a'"
  [innerStrokeColor]="'#fce13a'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="90"
  [radius]="100"
  [showUnits]="false"
  [title]="'Comunicación'"
  [titleFontSize]="'23px'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#fce13a'"
  [innerStrokeColor]="'#fce13a'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
</div>>
