.row{
  padding: 20px;
  background-color: #fce13a;
}

.contenedor{
  width: auto;
}
.texto, .imagen{
  display: inline-block;
  text-align: justify;
}
.img-proyecto{
  box-shadow: 10px 10px 30px black;
  box-shadow: ejeX ejeY difumasion color;
}
